.booking-column {
  width: 40%;
  margin-right: 30px;
}

.product-column {
  width: 60%;
}

@media (max-width: 768px) {
  .booking-column {
    width: 100%;
  }
  .product-column {
    width: 100%;
  }
}

// links & hoovers
a.link {
  text-decoration: none;
  color: black;
}

a.link:hover{
  color: inherit;
}

// CSS My bookings (left side)

.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 524px;
}

.image-left {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-booking h2 {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.card-booking p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin: 8px 0 0 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  max-height: calc(1.4em * 3);
}

.card-booking .card-booking-infos {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-booking-infos .card-booking-user {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.card-infos {
  padding: 0 20px 0 20px;
}

.card-booking-pricing {
  font-size: 26px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}

// CSS My products (right side)

.card-product {
  position: relative;
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  align-items: center;
}

.image-right {
  width: 250px;
  height: 250px;
  object-fit: cover;
  // align-items: center;
}

.card-product h2 {
  font-size: 22px;
  font-weight: bold;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 8px;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 3;
  overflow: hidden;
  // max-height: calc(1.4em * 3);
}

.card-product-infos {
  padding: 18px;
}
