// Specific CSS for your home-page
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-link{
  transition: .3s;
}
.img-link:hover {
  transform: scale(1.05);
  transition: .3s;
}

.image-index {
  position: relative;
  height: 250px;
}

.image-index img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
