<footer class="footer">
  <div class="footer-links">
    <a href="https://github.com/OmaryMahboob/le-musique-store1"><i class="fab fa-github fa-lg"></i></a>
    <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
    <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
    <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
  </div>
  <div class="footer-info">
    <p>© 2023 La musique <em>marketplace</em>. All rights reserved.</p>
    <div class="footer-credits">
      <a href="https://github.com/jane06-code">Jane Eme</a> &bull;
      <a href="https://github.com/OmaryMahboob">Mahboob Omary</a> &bull;
      <a href="https://github.com/rog-silva">Roger Silva</a>
    </div>
  </div>
</footer>
