<div id="carouselExampleCaptions" class="carousel slide la-musique" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag("img_home_1_w9dsnr") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>EXAMPLE FOR FILL</h5>
        <%= link_to "Go to the marketplace", products_path, class: "btn btn-primary text-white" %>
      </div>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("img_home_2_npivmr") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>EXAMPLE FOR FILL</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid placeat velit reprehenderit necessitatibus optio alias quia sed soluta minima aperiam veniam dolorem iure animi eligendi, quibusdam laudantium ipsam enim laboriosam.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("img_home_3_s0hyay") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>EXAMPLE FOR FILL</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugit, ducimus optio, officiis dignissimos voluptatum eligendi velit itaque repellat aspernatur excepturi quis, veritatis incidunt perspiciatis quaerat odio similique necessitatibus iste!</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
