.product-link {
  color: inherit;
  text-decoration: none;
  transition: .3s;
  .img-render {
    opacity: .8;
  }
}
.product-link:hover {
  transition: .3s;
  color: black; /* Change the color to something other than blue */
  text-decoration: none;
  .img-render:hover {
    opacity: 1;
  }
}
